article.attachments, article.attachments-progress {
    position: relative;
    width: 100%;
    height: 100%;
    label {
        //     position: absolute;
        //     width: 100%;
        // height: 100%;
    }

    span.icon {
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 0;
        cursor: pointer;

        &.file-icon {
            transform: translate(-40%, -40%);
        }

        &.plus-icon {
            transform: translate(-80%, -26%);
            scale: 0.8;
            transition: 0.13s;

            &:hover {
                filter: brightness(85%);
            }
        }
        &.plus-icon-left {
            position: absolute;
            left: 16px;
            // opacity: 1;
        }
    }

    &:hover span.icon {
        opacity: 1;
        scale: 1;
    }

 
    .file-list {
        margin-block-start: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        .file-preview {
            margin-inline: 2px;
            // height: 20px;
            // width: 20px;
            // overflow: hidden;
            // transition: transform 0.05s cubic-bezier(0, 0, 0.35, 1);

            &:hover {
                scale: 1.2;
                img {
                    // scale: 1.1;
                }
            }
            img {
                width: 20px;
                height: 20px;
                object-fit: cover;
            }
            span {
                // overflow: visible;
                // width: 17px;
            }
        }
        .extra-files {
            background-color: #333;
            color: #fff;
            height: 24px;
            width: 24px;
            font-size: 12px;
            border-radius: 50%;
            font-weight: 300;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translate(0 ,-2px);
        }
    }
}
   // <ul class="file-pill-list clean-list">

    //                 <li v-for="file in files">

    //                     <span v-if="isPdf(file)" class="x-btn" v-icon="'pdf'"></span>
    //                     <span v-if="isImage(file)" class="x-btn" v-icon="'imgFile'"></span>
    //                     <span v-if="isVideo(file)" class="x-btn" v-icon="'video'"></span>
    //                     <p>{{ file }}</p>
    //                     <span @click="removeFile(member._id)" class="x-btn" v-icon="'xButton'"></span>
    //                 </li>
    //             </ul>
.file-pill-list {
    width: 264px;
    // padding-top: 5px;
    background-color: aqua;
    li {
        display: flex;
        align-items: center;
        height: 40px;
        width: 320px;
        padding: 8px;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
            background-color: $secondary-btn-hover-color;
        }
        img {
            width: 26px;
            height: 26px;
            border-radius: 50%;
        }
        span {
            padding-left: 8px;
            font-size: 1rem;
            color: $primary-text-color;
        }
    }
}
.from-computer {
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    p {
        color: $primary-text-color;
        font-weight: 400;
        font-size: em(14px,12px);
     }
     span > * {
        color: #676879;
        margin-inline-end: 8px;
        width: 12.66667;
        height: 17;
        transform: translate(0,2px);
    }
    &:hover {
        background-color: $primary-btn-color;
        color: #fff;
        svg,p{
            color: #fff;

        }
    }
  
    
}
