section .date-container {
    position: relative;
    height: 100%;
    width: 100%;

    * {
        cursor: pointer !important;
    }

    &:hover {
        &::before {
            opacity: 1;
        }

        .reset-text {
            display: block;
        }
    }

    &::before {
        opacity: 0;
        content: "";
        display: block;
        border: 1px solid lightgray;
        height: calc(82%);
        position: absolute;
        top: 3px;
        left: 5px;
        right: 4px;
    }

    &.timeline::before {
        opacity: 0;
    }

    .date {
        div:nth-of-type(2) {
            opacity: 0;
        }

        pointer-events: none;

        span {
            width: 100%;
            display: inline-block;
            height: 100%;
            text-align: center;
            vertical-align: middle;
        }
    }

    span.icon {
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 0;

        &.date-picker-icon {
            transform: translate(3%, -44%);
        }

        &.plus-icon {
            transform: translate(-70%, -25%);
            scale: 1.45;

            &:hover {
                filter: brightness(85%);
            }
        }
    }

    &:hover span.icon {
        opacity: 1;
    }

    .reset-text {
        position: absolute;
        display: flex;
        place-items: center;
        place-content: center;
        right: 8%;
        top: 10px;
        cursor: pointer;
        display: none;
        background-color: lightgray;
        color: #5a5a5a;
        width: 1.15em;
        height: 1.11em;
        border-radius: 2px;
        line-height: 0.65;
    }
}
