section .date-container {
    position: relative;
    height: 100%;
    width: 100%;


    .date {
        div:nth-of-type(2) {
            opacity: 0;
        }

        pointer-events:none;

        span {
            width: 100%;
            display: inline-block;
            height: 100%;
            text-align: center;
            vertical-align: middle;
        }
    }

    span {
        margin-block-start: 18px;
    }
}