.members-list {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;

    .member-preview {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        align-self: center;
        border: 2px solid #f5f6f8;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }
    .extra-persons {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #333;
        color: #fff;
        border: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        font-size: 12px;
        font-weight: 300;
        position: relative;
        left: -1%;
        margin-inline-start: -9px;
    }
    .person-icon {
        position: absolute;
        top: 50%;
        left: 48%;
        transform: translate(-50%, -45%);
    }
    .plus-icon {
        opacity: 0;
        position: absolute;
        scale: 1.35;
        left: 13px;
        top: 12px;
    }
    &:hover .plus-icon {
        opacity: 1;
    }
}
