section .number-cmp {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
        opacity: 0;
        content: "";
        display: block;
        border: 1px solid lightgray;
        height: calc(82%);
        position: absolute;
        top: 3px;
        left: 5px;
        right: 4px;
    }

    &.input-focused {
        &::before {
            opacity: 1;
            background-color: white;
            border: 1px solid royalblue;
            height: calc(73.5%);
            top: 4.5px;
            left: 6px;
            right: 6px;
        }

        &::after {
            content: "";
            display: block;
            border: 1px solid royalblue;
            height: calc(100%);
            position: absolute;
            z-index: 999;
            top: 0;
            left: 0;
            right: 0;
        }
        background-color: #cce5ff;
    }

    &:hover {
        &::before {
            opacity: 1;
        }

        .reset-text {
            display: block;
        }
    }

    .reset-text {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 8%;
        top: 10px;
        cursor: pointer;
        display: none;
        background-color: lightgray;
        color: #5a5a5a;
        width: 1.14em;
        height: 1.1em;
        border-radius: 2px;
    }

    span.icon {
        position: absolute;
        left: 50%;
        top: 1.3em;
        opacity: 0;
        cursor: pointer;

        &.nums-icon {
            transform: translate(3%, -44%);
        }

        &.plus-icon {
            transform: translate(-70%, -25%);
            scale: 1.4;
        }
    }

    &:hover span.icon {
        opacity: 1;
    }

    .text-container {
        position: relative;

        span:not(.nums-icon, .plus-icon) {
            position: absolute;
            left: 50%;
            top: 0.666em;
            transform: translate(-50%, 0);
        }
    }

    .editable-text {
        font-family: figtree;
        position: absolute;
        top: 8px;
        display: inline-block;
        white-space: nowrap;
        max-width: 150px;
        text-align: center;
        vertical-align: middle;
        padding-inline: 10px;
        border: none;
        background: transparent;
        text-overflow: ellipsis;
        overflow: hidden;

        &:active,
        &:focus {
            outline: none;
        }
    }
}
