.board-index {
   
}
// .board {
//     grid-area: board;
// }
.board-container {
    grid-area:board;
    border-top-left-radius: rem(6px);
    // padding-inline-start: rem(41px);
    // padding-block-start: rem(41px);
    background-color: $lightmode-white;
    overflow: scroll;
    // height: 100%;
    .board-nav {
        margin-block-start: 34px;
        margin-inline-start: 38px;
        display: flex;
        align-items: center;
        position: sticky;
        top:0px;
        z-index: 31;
        background-color: #fff;
        border-block-end: 1px solid $border-clr;
        .nav-item:not(:last-child)::after{
            content: '';
            width: 1px;
            height: 17px;
            background-color: $border-clr;
            transform:translate( 0.57142857em);
            // border-inline-end: 1px solid $border-clr;
        }
        .nav-item {
            display: flex;
            align-items: center;
            position: relative;
            height: $btn-height;
            border-radius: 0.2857143em;
            // margin-right: 10px;
            padding-inline: 0.57142857em;
            margin-block-end: 0.2857143em;
            svg{
                margin-inline-end: 0.42857em;
            }
            &:hover{
                background-color: $secondary-btn-hover-color;
            }
            &.router-link-exact-active::before{
                content: '';
                position: absolute;
                bottom: -0.2857143em;
                background-color:$primary-btn-color;
                width:100% ;
                height: 2px;
                left: 0;
                
            }
            // &.router-link-exact-active:first-child::before{
            //     // left: -0.57142857em;
            //     left: 0;
            // }
            // &.active::after{
            //     content: '';
            //     position: absolute;
            //     bottom: 0;
            //     // left: -0.57142857em;
            //     background-color:$primary-btn-color;
            //     width:100% ;
            //     height: 2px;
            // }
        }
    }
}
