.file-modal {
    z-index: 5000;
    .screen {
        background-color: rgba(41, 47, 76, 0.7);
        // transition: opacity 0.1s ease-in-out;
        position: fixed;
        inset: 0;
    }
    .file-area {
        position: fixed;
        height: 97vh;
        width: 97vw;
        top: 1.5vh;
        left: 1.5vw;
        background-color: #f5f6f8;
        border-radius: 1em;
        // transform: translate(-1.5vw, 1.5vh);
        header {
            border-radius: 1em 1em 0 0;
            padding: 16px 32px;
            background-color: #fff;
            height: 77px;
            width: 100%;
            border-bottom: 1px solid #d0d4e4;
            p {
                color: $primary-text-color;
                font-weight: 700;
            }
            .type-img > * {
                width: 27px;
                height: 36px;
                margin-inline-end: 8px;
            }
            .x-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                top: 21px;
                right: 16px;
                position: absolute;
                width: $btnSml;
                height: $btnSml;
                border-radius: 4px;
                cursor: pointer;
                &:hover{
                    background-color: $secondary-btn-hover-color;
                }
            }
        }
        .file-content {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            img {
                width: 70%;
                height: 70%;
                // margin: auto;
                object-fit: contain;
            }
        }
    }
}
