.board-filter-container {
    position: sticky;
    left: 38px;
    top: 139px;
    z-index: 42;
    background-color: white;
    display: flex;
    gap: 4px;
    align-items: center;
    height: 65px;
    border-radius: 3px;
    margin-top: 150px;
    margin-left: 2.72rem;
    // margin-bottom: 20px;
    height: 51px;
    .new-task-button {
        background: linear-gradient(90deg, rgb(12, 86, 247) 0%, rgb(19, 91, 225) 36%, rgb(65, 106, 227) 100%);
        margin-top: 2.5px;
        min-width: 80px;
        min-height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        margin-right: 1.3em;
        border-radius: 4px;
        cursor: pointer;
    }

    .span-common {
        color: #323338;
        width: 90px;
        display: flex;
        gap: 6px;
        cursor: pointer;

        &.span-search {
            gap: 3px;
            padding-left: 0.1em;
            margin-right: 1em;

            span {
                width: 21px;
                height: 21px;
                margin-left: 0.5em;
                margin-top: -2.5px;
                color: #38393e;
            }
        }

        span {
            width: 18px;
            height: 18px;
            display: flex;
            gap: 2px;
            margin-top: -0.5px;
            color: #676879;

            &.span-filter {
                width: 23px;
                height: 23px;
                margin-top: 1px;
            }

            &.span-person {
                margin-top: -0.5px;
            }

            &.span-sort {
                margin-top: -1.3px;
            }

            &.span-hide {
                margin-top: -1.4px;
            }
        }
    }
}

.person-popover-container.el-popover.el-popper {
    padding: 8px;
    min-width: 300px !important;
    z-index: 9999;
    text-align: center;
    border-radius: 6px;
}

.person-filter {
    margin: 0;
    padding: 0;
    width: 300px;
    margin-left: em(8px);

    p {
        font-size: em(16px);

        &:first-of-type {
            padding-top: em(10px);
            font-size: em(16px);
            font-weight: 600;
            color: #323338;
            text-align: left;
            padding-bottom: 10px;
        }

        &:nth-of-type(2) {
            text-align: left;
            padding-bottom: 20px;
        }
    }

    div {
        padding-left: 0.5em;
        padding-bottom: 20px;
        display: flex;
        gap: 10px;

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;

            &.active {
                outline: 5px solid #d9f0ff;
            }

            cursor: pointer;
        }
    }
}

.multi-filter-popover-container.el-popover.el-popper {
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 3px;
    min-width: 500px !important;
    z-index: 9999;
    text-align: center;
    border-radius: 6px;
    overflow-x: hidden !important;
    overflow-y: hidden !important;

    ::-webkit-scrollbar {
        height: 4px !important;
    }

    ::-webkit-scrollbar-thumb {
        background: #d6d9e3 !important;
        border-radius: 3px !important;
    }

    > p {
        color: #323338;
        font-size: 16px;
        text-align: left;
        font-weight: 600;
        margin-left: 10px;
        margin-top: 5px;
    }
}

.multi-filter {
    ::-webkit-scrollbar {
        height: 8px !important;
    }

    ::-webkit-scrollbar-thumb {
        background: #e0e3ec !important;
        border-radius: 3px !important;
    }

    .filter-column {
        p {
            text-align: left;
            padding-bottom: 13px;
            padding-top: 20px;
        }

        > div:first-of-type {
            max-height: 150px;
            overflow-y: scroll !important;
            width: 142px;

            div:not(.status-color) {
                background-color: #f5f6f8;
            }

            div {
                border-radius: 4px;
                padding: 5px;
                margin-left: 2px;
                margin-right: 2px;
                margin-bottom: 4px;
                overflow-x: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: pointer;

                &:hover:not(.status-color) {
                    background-color: darken(#f5f6f8, 8%);
                }

                &.active:not(.status-color) {
                    background-color: #cce5ff;
                }
            }
        }

        gap: 5px;
        min-width: 150px;
        height: 200px;
        padding: 10px;
        margin-bottom: 20px;

        img {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: 0.5em;

            &.active {
                outline: 5px solid #d9f0ff;
            }

            cursor: pointer;
        }

        ::-webkit-scrollbar {
            width: 4px !important;
        }

        ::-webkit-scrollbar-thumb {
            background: #d6d9e3 !important;
            border-radius: 3px !important;
        }
    }

    display: flex;
    max-width: 700px;
    overflow-x: auto;
    overflow-y: hidden;
}

.hide-filter {
}
