.board-filter-container {
    display: flex;
    gap: 4px;
    align-items: center;
    height: 65px;
    border-radius: 3px;
    margin-left: 2.72rem;
    margin-bottom: 1.5em;
    .new-task-button {
        min-width: 83px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        margin-right: 1.3em;
        border-radius: 5px;
        cursor: pointer;
    }

    .span-common {
        color: #323338;
        width: 90px;
        display: flex;
        gap: 6px;
        cursor: pointer;

        &.span-search {
            gap: 3px;
            padding-left: 0.1em;
            margin-right: 1em;

            span {
                width: 21px;
                height: 21px;
                margin-left: 0.5em;
                margin-top: -2.5px;
                color: #38393e;
            }
        }

        span {
            width: 18px;
            height: 18px;
            display: flex;
            gap: 2px;
            margin-top: -0.5px;
            color: #676879;

            &.span-filter {
                width: 23px;
                height: 23px;
                margin-top: 0px;
            }

            &.span-person {
                margin-top: -0.5px;
            }

            &.span-sort {
                margin-top: -1.3px;
            }

            &.span-hide {
                margin-top: -1.4px;
            }
        }
    }
}
