.board-info-background {
    position: fixed;
    // opacity: .8;
    width: 100vw;
    height: 100vh;
    // background-color: $priority-critical;
    background-color: rgba(41, 47, 76, 0.7);
    z-index: 42;
    // pointer-events: auto;
    top: 0;
    left: 0;
}

.board-info {
    display: grid;
    z-index: 42;
    top: calc(50vh - ($board-info-modal-height / 2));
    left: calc(50vw - ($board-info-modal-width /2));
    position: fixed;
    background: #fff;
    width: $board-info-modal-width;
    height: $board-info-modal-height;
    opacity: 1;
    grid-template-columns: auto 38%;
    border-radius: 6px;
    box-shadow: rgba(0,0,0,0.7) 0 25px 50px -15px ;
    .board-info-inputs{
        .title{
            padding-inline-start: 26px;
            // color: #adaa9c;
            font-size: 24px;
            padding-block: rem(38px) rem(32px);
            font-weight: 600;
            font-family: poppins;

            span{
                padding: 0;
                padding-inline-start: 6px;
                display: block;
                width: 100%;
                outline:none;
                &:hover{
                    outline:1px solid $border-clr;
                    border-radius: 3px;
                }
                &:active{
                }
                &:focus{
                    padding: 1px;
                    outline:2px solid #0060DF;
                    border-radius: 3px;
                }
            }
        }
    }
    .board-info-details {
        border-radius: 6px;
        width: 100%;
        background-color: $task-hover;
        padding: rem(32px);
        h3{
            font-weight: 500;
        }
        h3,article{
            margin-block-end: rem(32px);
        }
        span{
            color:$secondary-text-color;
        }
    }
    div{
        position: relative;
        button{
            padding-block-end: 2px;
            font-size: 17px;
            top:-22px;
            right: -20px;
            position: absolute;
            width: 28px;
            height: 32px;
            border-radius: 3px;
            &:hover{
                background-color: $secondary-btn-hover-color;
            }
        }
    }

    .in-place-edit {
        box-sizing: border-box;
        padding-inline: rem(35px);

        // &:first-of-type {
        //     padding-block: rem(38px) rem(32px);
        //     font-size: rem(24px);
        //     font-weight: 500;
        //     font-family: poppins;
        //     span{
        //         display: block;
        //         width: 100%;
        //         outline:none;
        //         &:hover{
        //             outline:1px solid $border-clr;
        //             border-radius: 3px;
        //         }
        //         &:active{
        //             outline:1px solid $border-clr;
        //             border-radius: 3px;
        //         }
        //     }
        // }

        &:last-of-type {
            width: 100%;
            height: rem(100px);
            display: block;
           

            span {
                display: block;
                width: 100%;
                height: rem(100px);
                padding-block-start: 7px;
                padding-inline: 2px 5px;
                &:focus{
                    outline:1px solid $border-clr;
                }
                &:active{
                    outline: none;
                }
                &:not(:focus):hover {
                    height: rem(390px);
                    outline:1px dotted $border-clr;
                }
            }
        }
    }
}