.left-gap{
    
    width: 48px;
    position: sticky;
    left: 0;
    z-index: 38;
    background-color: #fff;
}
.board-details {
 
    width: 7000px;
    // overflow-x: scroll;
    .grp-scroll {
    }
    .task {
    }

    > * {
        max-width: none;
        width: max-content;
    }
    .add-group-btn {
        display: flex;
        align-items: center;

        position: sticky;
        left: 48px;
        height: $btn-height;
        background-color: transparent;
        border: 1px solid #c3c6d4;
        border-radius: 0.2857143em;
        padding-inline: 8px;
        margin-block: 36px;
        color: $primary-text-color;
        &:hover{
            background-color: $secondary-btn-hover-color;
        }
    }
}

.group-gap {
    position: sticky;
    top: 0;
    left:0;
    width: (40px);
    z-index: 31;
    height: 256px;
    background-color: white;
    flex: 1;
}
