.board-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 42;
    background-color: #fff;
    padding-left: 38px;
    padding-right: 30px;
    padding-top: 16px;
    width: 100%;
    .board-title {
        // @include boardTitle;
        font-size: em(24px, 14px);
        line-height: lh(32px, 14px);
        // font-size: em(32px,14px);
        // line-height: lh(40px , 14px);
        font-family: poppins;
        font-weight: 700;
        letter-spacing: -0.2px;
        color: $primary-text-color;
    }
    .board-desc {
        color: $secondary-text-color;
        span {
            padding-inline-start: 6px;
            cursor: pointer;
            color: #1f76c2;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .info-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #676879;
        width: $btnSml;
        height: $btnSml;
        border-radius: 0.2857143em;
        margin-inline-start: 4px;
        cursor: pointer;
        &:hover {
            background-color: $secondary-btn-hover-color;
        }
    }
}
