.group {
    padding-inline-start: 6px;
    background-color: #fff;
    // overflow-x: hidden;
    // margin-inline-start: rem(41px);

    .tasks-container {
        overflow-x: visible;
    }

    .add-group-btn {
        display: flex;
        align-items: center;
        width: 142px;
        height: $btnSml;
    }

    .group-title-container {
        box-sizing: content-box;
        padding-top: 36px;
        height: 40px;
        transform: translate(-6px);

        position: sticky;
        left: 48px;
        top: 109px;
        // top: 136px;
        background-color: #fff;
        z-index: 32;
        .group-header {
            width: fit-content;
            border: 1px solid transparent;
            border-radius: 4px;
            font-size: 18px;
            letter-spacing: -0.2px;
            font-family: poppins;
            cursor: pointer;
            display: flex;
            align-items: center;
            .editable-group-title:focus-visible {
                border-style: none;
            }
            span {
                padding-inline: 5px;
            }
            // span::before{
            .color-btn {
                //
                // display: none;
                position: absolute;
                left: 0px;
                border-radius: 50%;
                // background-color: rgb(127, 83, 71);
                width: 21px;
                height: 21px;
                margin-inline-start: 5px;
            }
            &:focus-within {
                .in-place-edit {
                    .editable {
                        // margin-inline-start: 40px;
                        display: inline-block;
                        // background-color: aqua;
                        width: 50vw;
                        // resize:none;
                        &::before {
                            content: '';
                            display: inline-block;
                            width: 21px;
                            height: 1px;
                            background-color: transparent;
                        }
                    }
                }
                .color-btn {
                    display: inline-block;
                }
            }

            &:active {
                cursor: grabbing;
            }

            &:hover {
                border: 1px solid $border-clr;
            }
        }

        .task-count {
            color: $primary-text-color;
            opacity: 0;
            transition: 100ms;
            padding-inline-start: 5px;
        }
        &:hover {
            .task-count {
                opacity: 1;
            }
            .group-actions {
                opacity: 1;
            }
        }
    }

    .group-actions {
        position: absolute;
        top: 6px;
        height: min-content;
        left: -20px;
        opacity: 0;
    }
}

.labels-grid,
.progress-grid {
    width: 100%;
    background: $lightmode-white;
    display: grid;
}

.label-line {
    position: sticky;
    top: 185px;
    // top: 132px;
    z-index: 31;
    // position: relative;
    display: grid;
    grid-template-columns: calc($row-height + $task-title-width) repeat(7, 150px);
    border-block: 1px solid $border-clr;
    height: $row-height;

    &:first-child {
        border: 0;
    }
}

.group-list {
    background-color: #fff;
    // border: 1px solid $border-clr;
    border-right: 0;
    position: relative;
}

.progress-bar {
    margin-left: $progress-bar-left-margin;
    border: 1px $border-clr solid;
    border-radius: 0 0 0 6px;
    border-block-start: 0;
    border-inline-end: 0;
    height: $row-height;
    display: flex;
    align-items: center;
}

.group-accent-color {
    width: 6px;
    top: -1px;
    height: $row-height;
    background-color: red;
    position: absolute;
    z-index: 400;
    left: -6px;

    &.first {
        border-radius: 6px 0 0 0;
    }

    &.last {
        border-radius: 0 0 0 6px;
    }
}
