.app-header {
    grid-area: header;
    .main-nav {
        display: flex;
        gap: 20px;
        align-items: center;
        // padding: 15px;
        color: rgb(247, 9, 9);
        font-size: 20px;
        // height: $main-header-height;
        padding: 0;
    }
    
}
