.kanban-details {
    .kanban-options {
        display: flex;
        align-items: center;
        padding-block: 16px;
        margin-inline-start: 36px;
        .priority-progress-bar,
        .status-progress-bar{
            width: 140px;
            height: 24px;
            border-radius: 4px;
            margin: 0;
        }
        .priority-progress-bar,
        .status-progress-bar{
            .progress-segment:first-child,
            .status-segment:first-child{
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            .progress-segment:last-child,
            .status-segment:last-child{
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
        .settings-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            // position: absolute;
            // left: 3px;
            // opacity: 0;
            color: $primary-text-color;
            width: $btnSml;
            height: $btnSml;
            border-radius: 4px;
            margin-inline-start: 8px;
            cursor: pointer;
            &:hover {
                background-color: $secondary-btn-hover-color;
            }
            &.active{
                background-color: #cce5ff;
            }
        }
        
    }
}
.kanban-container {
    .kanban-modal {
        position: absolute;
        width: 230px;
        top: 8px;
        left: 38px;
        background-color: #fff;
        border: 1px solid #c3c6d4;
        // border-top: none;
        z-index: 3;
        padding: 16px;
        color: $primary-text-color;
        .settings-title {
            font-weight: 700;
            margin-block-end: 16px;
            margin-inline-start: 8px;
        }
        .modal-inner-container {
            padding-inline: 16px;
            border-radius: 8px;
            padding-bottom: 8px;
            border: 1px solid #c3c6d4;
            .sort-option {
                height: 36px;
                border-radius: 4px;
                cursor: pointer;
                &:hover {
                    background-color: $secondary-btn-hover-color;
                }
                & > * {
                    margin-inline-start: 8px;
                }
                span {
                    width: 24px;
                    height: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #11dd80;
                    border-radius: 4px;
                }
                &.active{
                    background-color: #cce5ff;
                }
            }
            .modal-cmp {
                padding: 4px 6px;
                border-radius: 4px;
                &:hover {
                    background-color: $secondary-btn-hover-color;
                }
                label {
                    cursor: pointer;

                    span {
                        display: inline-block;
                        width: 14px;
                        // height: 21px;
                        margin-inline-end: 8px;
                    }
                    .date-svg > * {
                        scale: 0.75;
                        transform: translate(-4px);
                    }
                    .nums-svg > * {
                        scale: 0.8;
                        transform: translate(-4px);
                    }
                    .timeline-svg > * {
                        scale: 0.75;
                        transform: translate(-4px, 6px);
                    }
                }
                input {
                    cursor: pointer;
                }
            }
            .modal-title {
                margin-block: 16px;
            }
        }
    }
    // border-top: 1px solid #d0d4e4;
    padding-inline-start: 38px;
    padding-top: 8px;
    // width: 100vw;
    overflow-x: scroll;
    .kanban-column {
        border-radius: 8px;
        width: 260px;
        min-width: 260px;
        margin-inline-end: 20px;
        .column-header {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            padding-left: 8px;
            padding-right: 8px;

            .column-title {
                color: #fff;
                font-weight: 500;
                font-size: em(16px, 14px);
            }
        }
        .column-body {
            align-items: center;
            // height: max-content;
            // max-height: 100%;
            // max-height: calc(100vh - 360.85px);
            max-height: calc(100vh - 270px);
            overflow-x: hidden;
            position: relative;
            height: 100%;
            overflow-y: scroll;
            background-color: #f6f7fb;
            transition:
                background-color 0.2s ease-in-out,
                box-shadow 0.2s ease;
            color: $primary-text-color;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding-block-start: 4px;
            &:hover {
                background: #dcdfec;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
        }
    }

    // &:hover {
    //     .settings-btn {
    //         opacity: 1;
    //     }
    // }
}
