.progress{
    position: sticky;
    left: 0;
    .progress-margin{
        background-color: #fff;

        position: sticky;
        left: 48px;
        // z-index: 2;
        height: $row-height;
        width:443px;// $progress-bar-left-margin;
    }
    .progress-border{
        background-color: #fff;
        position: sticky;
        left: 388px;
        width: 5px;
        // z-index: 2;
        height: $row-height;
        border-left: 1px $border-clr solid;
        border-bottom: 1px $border-clr solid;
        border-radius: 0 0 0 6px;
    }
    .progress-bar {
        width: 100%;
        background-color: #0073ea;
        // margin-left: $progress-bar-left-margin;
        // border: 1px $border-clr solid;
        // border-radius: 0 0 0 6px;
        border-bottom: 1px $border-clr solid;
        border-block-start: 0;
        border-inline-end: 0;
        height: $row-height;
        display: block;
        align-items: center;
    }
}