.sidebar-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-block: 1rem;
    width: 181px;
    height: $btnSml;
    // margin-block-end: 1.8em;
    padding-left: 6px;
    padding-right: 3px;
    border: 1px solid $primary-text-color;
    border-radius: 0.2857em;
    color: $secondary-text-color;

    &:hover {
        border-color: $primary-text-color;
    }

    &:focus-within:not(:hover) {
        border-color: $primary-btn-color;
    }

    .reset-text {
        width: 20px;
        height: 20px;
        border-radius: 3px;

        &:hover {
            background-color: $secondary-btn-hover-color;
        }

        .x-icon {
            cursor: pointer;
            color: $primary-text-color;
            width: 18px;
            height: 18px;
            width: 20px;
            display: block;
            display: flex;
            align-content: center;
            justify-content: center;
            svg {
                width: 18px;
                height: 18px;
                padding-top: 2px;
                color: black;
            }
        }
    }

    .search-icon-wrapper {
        margin-bottom: 2px;
        width: 18px;
        height: 18px;
        display: flex;
        margin-inline-end: 3px;
    }

    input {
        font-family: figtree;
        font-size: 14px;
        color: $primary-text-color;
        border: none;
        width: 100%;
        background-color: transparent;
        // margin-inline-start: 3px;
        height: fit-content;
        padding: 0;
        outline: none;
        padding: 1px 2px 1px 2px;
    }

    span {
        // position: absolute;
        // left: 3px;
        // top: 5px;
    }
}
