.sidebar {
    grid-area: sidebar;
    width: $sidebar-width;
    height: 100%;
    border-top-right-radius: rem(6px);
    background-color: $lightmode-white;
    .add-board-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: .25em;
        background-color: $primary-btn-color;
        width: $btnSml;
        height: $btnSml;
        // position: relative;
        // margin-inline-start: 207px;
        // margin-block:13px;
        right: 1rem;
        &:hover {

            background-color: $primary-btn-hover-color;
        }
    }
    .divider-div{
        border-block-end: 1px solid $border-clr;
    }
    .sidebar-list {
        li {
            &:hover {
                background-color: $secondary-btn-hover-color;
            }
            margin-inline: 10px 1rem;
            padding-inline-start: 11px;
            border-radius: rem(6px);
            height: calc($row-height - 2px);
            div:last-child{
                margin-inline-end: rem(14px);
            }
        }
        a{
            padding-inline-start: 10px;
            padding-inline-end: auto;
        }
        .selected{
            background: $selected-blue;
        }
        &.nav-list{
            margin-block-start: 1rem;
        }
        div:last-of-type{
            align-self: flex-end;
        }

    }
    .sidebar-board-utils{
        margin-block-start: .5rem;
        padding-inline-start: 14px;
        padding-inline-end: 1rem;
        margin-block-end: 13px;
        input{
            width: $input-width;
            height: $input-height;
            border-radius: 3px;
            border: $border-clr 1px solid;
        }
    }
}