.table {
    // width: 80%;
    // overflow-x: scroll;
    width: 80%;
    overflow-x: scroll;
    .grp-scroll{

    }
    .task{
        
        
    }
        // display: inline-block;
        // border: 1px solid red; for debugging purposes

    >* {
        max-width: none;
        width: max-content;
    }
}