.task {
    border-left: 1px solid black;
    // position: relative;
    background: white;
    display: grid;
    grid-template-columns: $row-height $row-height repeat(7, 150px);
    height: $row-height;
    align-items: center;
    grid-auto-flow: row;

    height: rem(35px);

    &:hover {
        background-color: $task-hover;
    }
}

.d-cmp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: start;
    padding-left: 5%;
}

.txt{
    p{
        white-space: nowrap;
    }
    justify-self: flex-start;
}