.task {
    // position: relative;
    background: white;
    display: grid;
    grid-template-columns: calc($row-height + $row-height + $task-title-width) repeat(7, 150px);
    height: $row-height;
    align-items: center;
    grid-auto-flow: row;

    height: rem(36px);
    border-block-end: 1px solid $border-clr;
    div:first-child{
        display: grid;
        grid-template-columns: $row-height $row-height $task-title-width;
        height: 100%;
    }

    &:hover {
        background-color: $task-hover;
    }
}

.d-cmp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-inline-end: 1px solid $border-clr;
    padding: 0;
    &:first-child {
        border-inline-start: 1px solid $border-clr;
    }
}

.title {
    text-align: start;
}

.txt {
    p {
        white-space: nowrap;
    }

    justify-self: flex-start;
}

.checkbox {
    input {
        margin: 0;
        padding-inline: 3px;
    }
}
