*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: figtree;
    font-weight: 400;
    height: 100%;

    ::-webkit-scrollbar {
        width: 11px;
        background-color: lighten(#d6d9e3, 15%);
    }

    ::-webkit-scrollbar-thumb {
        background: #b1b1b1;
    }
}

body {
    height: 100%;
    margin: 0;
    // background-image: url(src/assets/space.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    background-color: $lightmode-app-bg;
    // overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
}

h2 {
}

h3 {
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-nav {
    display: flex;
    gap: 20px;
    padding: 15px;
    color: whitesmoke;
    font-size: 20px;
}
