*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: figtree;
    font-weight: 400;
}

body {
    margin: 0;
    // background-image: url(src/assets/space.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

h1 {
}

h2 {
}

h3 {
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-nav {
    display: flex;
    gap: 20px;
    padding: 15px;
    color: whitesmoke;
    font-size: 20px;
}
