// Font Sizes
.fs12 {
    font-size: rem(12px);
}
.fs14 {
    font-size: rem(14px);
}
.fs15 {
    font-size: rem(15px);
}
.fs18 {
    font-size: rem(18px);
}
.fs20 {
    font-size: rem(20px);
}
.fs24 {
    font-size: rem(24px);
}
.fs28 {
    font-size: rem(28px);
}
.fs30 {
    font-size: rem(30px);
}

// sticky
.sticky {
    position: sticky;
    left: 0;
}
.abs {
    position: absolute;
}

// Flex
.flex {
    display: flex;
    &.space-between {
        justify-content: space-between;
    }
    &.space-evenly {
        justify-content: space-evenly;
    }
    &.align-center {
        align-items: center;
    }
    &.flex-column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.inline-flex {
        display: inline-flex;
    }
    &.flex-direction-column {
        flex-direction: column;
    }
}

.align-self-center {
    align-self: center;
}
//grid
.grid {
    display: grid;
}
.justify-self-end {
    justify-self: end;
}
// List
.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

// Text
.vertical-text {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

//Inputs
.button-as-link {
    cursor: pointer;
    border: 0 !important;
    background-color: transparent;
    z-index: 41;
}

.blue-button {
    padding: 0;
    margin-block: 5px;
    width: 62px;
    height: 32px;
    color: white;
    background: $primary-btn-color;
    border: 0;
    border-radius: 3px;
    font-size: 12px;
    &:hover {
        background: $primary-btn-hover-color;
    }
}

.sticky {
    position: static;
}
.relative {
    position: relative;
}
// Label colors

// Status labels

// Done Green
.done-green {
    background-color: #00c875;
}

.task:hover .done-green,
.done-green:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #4ad69c;
}

.done-green::before {
    border-bottom: 10px solid #56bb80;
}

// Working Orange
.working-orange {
    background-color: #fdab3d;
}

.task:hover .working-orange,
.working-orange:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #fbc175;
}

.working-orange::before {
    border-bottom: 10px solid #d7a96c;
}

// Stuck Red
.stuck-red {
    background-color: #e2445c;
}

.task:hover .stuck-red,
.stuck-red:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #e8798b;
}

.stuck-red::before {
    border-bottom: 10px solid #c86f7e;
}

// Default Gray
.default-gray {
    background-color: #c4c4c4;
}

.task:hover .default-gray,
.default-gray:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #d2d2d3;
}

.default-gray::before {
    border-bottom: 10px solid #b7b8b8;
}

// Low Blue
.low-blue {
    background-color: #579bfc;
}

.task:hover .low-blue,
.low-blue:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #86b6fb;
}

.low-blue::before {
    border-bottom: 10px solid #7aa0d8;
}

// Medium Purple
.medium-purple {
    background-color: #5559df;
}

.task:hover .medium-purple,
.medium-purple:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #8588e6;
}

.medium-purple::before {
    border-bottom: 10px solid #797bc7;
}

// High Dark Purple
.high-dark-purple {
    background-color: #401694;
}

.task:hover .high-dark-purple,
.high-dark-purple:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #7659b2;
}

.high-dark-purple::before {
    border-bottom: 10px solid #6d569d;
}

// Critical Dark Gray
.critical-dark-gray {
    background-color: $priority-critical;
}

.task:hover .critical-dark-gray,
.critical-dark-gray:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #6d6d6e;
}

.critical-dark-gray::before {
    border-bottom: 10px solid #666667;
}

// Custom labels

// Grass Green
.grass-green {
    background-color: #037f4c;
}

.task:hover .green-grass,
.green-grass:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #4ba27f;
}

.grass-green::before {
    border-bottom: 10px solid #4a9175;
}

// Bright Green
.bright-green {
    background-color: #9cd326;
}

.task:hover .bright-green,
.bright-green:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #b7dd65;
}

.bright-green::before {
    border-bottom: 10px solid #a1c05f;
}

// Saladish
.saladish {
    background-color: #cab641;
}

.task:hover .saladish,
.saladish:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #d7c978;
}

.saladish::before {
    border-bottom: 10px solid #bbb06e;
}

// Egg Yolk
.egg-yolk {
    background-color: #ffcb00;
}

.task:hover .egg-yolk,
.egg-yolk:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #fcd84a;
}

.egg-yolk::before {
    border-bottom: 10px solid #d8bb4a;
}

// Dark Orange
.dark-orange {
    background-color: #ff642e;
}

.task:hover .dark-orange,
.dark-orange:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #fc906a;
}

.dark-orange::before {
    border-bottom: 10px solid #d88164;
}

// Peach
.peach {
    background-color: #ffadad;
}

.task:hover .peach,
.peach:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #fcc3c4;
}

.peach::before {
    border-bottom: 10px solid #d9abac;
}

// Sunset
.sunset {
    background-color: #ff7575;
}

.task:hover .sunset,
.sunset:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #fc9b9c;
}

.sunset::before {
    border-bottom: 10px solid #d88b8c;
}

// Dark Red
.dark-red {
    background-color: #bb3354;
}

.task:hover .dark-red,
.dark-red:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #cc6d85;
}

.dark-red::before {
    border-bottom: 10px solid #b26679;
}

// Sofia Pink
.sofia-pink {
    background-color: #ff158a;
}

.task:hover .sofia-pink,
.sofia-pink:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #fc58ab;
}

.sofia-pink::before {
    border-bottom: 10px solid #d85597;
}

// Lipstick
.lipstick {
    background-color: #ff5ac4;
}

.task:hover .lipstick,
.lipstick:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #fc89d3;
}

.lipstick::before {
    border-bottom: 10px solid #d87cb8;
}

// Bubble
.bubble {
    background-color: #faa1f1;
}

.task:hover .bubble,
.bubble:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #f9bbf4;
}

.bubble::before {
    border-bottom: 10px solid #d6a4d2;
}

// Dark Purple
.dark-purple {
    background-color: #784bd1;
}

.task:hover .dark-purple,
.dark-purple:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #9d7edd;
}

.dark-purple::before {
    border-bottom: 10px solid #8c73bf;
}

// Berry
.berry {
    background-color: #7e3b8a;
}

.task:hover .berry,
.berry:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #a273ac;
}

.berry::before {
    border-bottom: 10px solid #916b98;
}

// Indigo
.indigo {
    background-color: #5559df;
}

.task:hover .indigo,
.indigo:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #8588e7;
}

.indigo::before {
    border-bottom: 10px solid #7a7cc8;
}

// Navy
.navy {
    background-color: #225091;
}

.task:hover .navy,
.navy:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #6282b0;
}

.navy::before {
    border-bottom: 10px solid #5d779c;
}

// Bright Blue
.bright-blue {
    background-color: #579bfc;
}

.task:hover .bright-blue,
.bright-blue:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #86b6fb;
}

.bright-blue::before {
    border-bottom: 10px solid #7aa0d8;
}

// Dark Blue
.dark-blue {
    background-color: #0086c0;
}

.task:hover .dark-blue,
.dark-blue:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #49a7d1;
}

.dark-blue::before {
    border-bottom: 10px solid #4994b6;
}

// Aquamarine
.aquamarine {
    background-color: #4eccc6;
}

.task:hover .aquamarine,
.aquamarine:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #81d9d6;
}

.aquamarine::before {
    border-bottom: 10px solid #75bcba;
}

// Chili Blue
.chili-blue {
    background-color: #66ccff;
}

.task:hover .chili-blue,
.chili-blue:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #91d9fd;
}

.chili-blue::before {
    border-bottom: 10px solid #83bcd9;
}

// River
.river {
    background-color: #68a1bd;
}

.task:hover .river,
.river:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #93bbcf;
}

.river::before {
    border-bottom: 10px solid #84a4b5;
}

// Winter
.winter {
    background-color: #9aadbd;
}

.task:hover .winter,
.winter:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #b6c3cf;
}

.winter::before {
    border-bottom: 10px solid #a0abb5;
}

// American Gray
.american-gray {
    background-color: #808080;
}

.task:hover .american-gray,
.american-gray:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #a3a3a4;
}

.american-gray::before {
    border-bottom: 10px solid #919192;
}

// Blackish
.blackish {
    background-color: $priority-critical;
}

.task:hover .blackish,
.blackish:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #6d6d6e;
}

.blackish::before {
    border-bottom: 10px solid #666667;
}

// Brown
.brown {
    background-color: #7f5347;
}

.task:hover .brown,
.brown:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #a3847c;
}

.brown::before {
    border-bottom: 10px solid #917872;
}

// Orchid
.orchid {
    background-color: #d974b0;
}

.task:hover .orchid,
.orchid:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #e29bc6;
}

.orchid::before {
    border-bottom: 10px solid #c48bae;
}

// Tan
.tan {
    background-color: #ad967a;
}

.task:hover .tan,
.tan:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #c3b3a0;
}

.tan::before {
    border-bottom: 10px solid #ab9e90;
}

// Sky
.sky {
    background-color: #a1e3f6;
}

.task:hover .sky,
.sky:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #bbe9f7;
}

.sky::before {
    border-bottom: 10px solid #a4c9d5;
}

// Coffee
.coffee {
    background-color: #bd816e;
}

.task:hover .coffee,
.coffee:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #cea498;
}

.coffee::before {
    border-bottom: 10px solid #b49289;
}

// Royal
.royal {
    background-color: #2b76e5;
}

.task:hover .royal,
.royal:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #689deb;
}

.royal::before {
    border-bottom: 10px solid #628ccb;
}

// Teal
.teal {
    background-color: #175a63;
}

.task:hover .teal,
.teal:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #5a8990;
}

.teal::before {
    border-bottom: 10px solid #577c82;
}

// Lavender
.lavender {
    background-color: #bda8f9;
}

.task:hover .lavender,
.lavender:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #cec0f9;
}

.lavender::before {
    border-bottom: 10px solid #b4a8d6;
}

// Steel
.steel {
    background-color: #a9bee8;
}

.task:hover .steel,
.steel:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #c0cfed;
}

.steel::before {
    border-bottom: 10px solid #a8b4cd;
}

// Liliac
.liliac {
    background-color: #9d99b9;
}

.task:hover .liliac,
.liliac:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #b8b5cc;
}

.liliac::before {
    border-bottom: 10px solid #a29fb3;
}

// Pecan
.pecan {
    background-color: #563e3e;
}

.task:hover .pecan,
.pecan:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #867576;
}

.pecan::before {
    border-bottom: 10px solid #7a6d6e;
}

// Purple
.purple {
    background-color: #a25ddc;
}

.task:hover .purple,
.purple:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #bb8be5;
}

.purple::before {
    border-bottom: 10px solid #a57ec6;
}

// Dark Indigo
.dark-indigo {
    background-color: #401694;
}

.task:hover .dark-indigo,
.dark-indigo:hover:not(.progress-segment, .activity-status, .status-color) {
    background-color: #7759b3;
}

.dark-indigo::before {
    border-bottom: 10px solid #6e579e;
}
