// Font Sizes
.fs12 {
    font-size: rem(12px);
}
.fs14 {
    font-size: rem(14px);
}
.fs18 {
    font-size: rem(18px);
}
.fs20 {
    font-size: rem(20px);
}
.fs24 {
    font-size: rem(24px);
}
.fs28 {
    font-size: rem(28px);
}
.fs30 {
    font-size: rem(30px);
}

// sticky
.sticky {
    position: sticky;
    left: 0;
}
.abs {
    position: absolute;
}

// Flex
.flex {
    display: flex;
    &.space-between {
        justify-content: space-between;
    }
    &.space-evenly {
        justify-content: space-evenly;
    }
    &.align-center {
        align-items: center;
    }
    &.flex-column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.inline-flex {
        display: inline-flex;
    }
}

.align-self-center {
    align-self: center;
}

// List
.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

// Text
.vertical-text {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

//Inputs
.button-as-link {
    border: 0;
    background-color: transparent;
}

.sticky {
    position: static;
}

// Label colors

// Status labels

// Done Green
.done-green {
    background-color: #00c875;
    transition: 0.5s ease;
}

.task:hover .done-green,
.done-green:hover {
    background-color: #4ad69c;
}

.done-green::before {
    border-bottom: 10px solid #56bb80;
}

// Working Orange
.working-orange {
    background-color: #fdab3d;
    transition: 0.5s ease;
}

.task:hover .working-orange,
.working-orange:hover {
    background-color: #fbc175;
}

.working-orange::before {
    border-bottom: 10px solid #d7a96c;
}

// Stuck Red
.stuck-red {
    background-color: #e2445c;
    transition: 0.5s ease;
}

.task:hover .stuck-red,
.stuck-red:hover {
    background-color: #e8798b;
}

.stuck-red::before {
    border-bottom: 10px solid #c86f7e;
}

// Default Gray
.default-gray {
    background-color: #c4c4c4;
    transition: 0.5s ease;
}

.task:hover .default-gray,
.default-gray:hover {
    background-color: #d2d2d3;
}

.default-gray::before {
    border-bottom: 10px solid #b7b8b8;
}

// Low Blue
.low-blue {
    background-color: #579bfc;
    transition: 0.5s ease;
}

.task:hover .low-blue,
.low-blue:hover {
    background-color: lighten(#579bfc, 10%);
}

.low-blue::before {
    border-bottom: 10px solid darken(#579bfc, 5%);
}

// Medium Purple
.medium-purple {
    background-color: #5559df;
    transition: 0.5s ease;
}

.task:hover .medium-purple,
.medium-purple:hover {
    background-color: lighten(#5559df, 10%);
}

.medium-purple::before {
    border-bottom: 10px solid darken(#5559df, 5%);
}

// Critical Dark Gray
.critical-dark-gray {
    background-color: #333333;
    transition: 0.5s ease;
}

.task:hover .critical-dark-gray,
.critical-dark-gray:hover {
    background-color: #6d6d6e;
}

.critical-dark-gray::before {
    border-bottom: 10px solid #666667;
}

// Custom labels

// Grass Green
.grass-green {
    background-color: #037f4c;
}

.grass-green:hover {
    background-color: lighten(#037f4c, 10%);
}

.grass-green.darker {
    background-color: darken(#037f4c, 10%);
}

// Bright Green
.bright-green {
    background-color: #9cd326;
}

.bright-green:hover {
    background-color: lighten(#9cd326, 10%);
}

.bright-green.darker {
    background-color: darken(#9cd326, 10%);
}

// Saladish
.saladish {
    background-color: #cab641;
}

.saladish:hover {
    background-color: lighten(#cab641, 10%);
}

.saladish.darker {
    background-color: darken(#cab641, 10%);
}

// Egg Yolk
.egg-yolk {
    background-color: #ffcb00;
}

.egg-yolk:hover {
    background-color: lighten(#ffcb00, 10%);
}

.egg-yolk.darker {
    background-color: darken(#ffcb00, 10%);
}

// Dark Orange
.dark-orange {
    background-color: #ff642e;
}

.dark-orange:hover {
    background-color: lighten(#ff642e, 10%);
}

.dark-orange.darker {
    background-color: darken(#ff642e, 10%);
}

// Peach
.peach {
    background-color: #ffadad;
}

.peach:hover {
    background-color: #FCC3C4;
}

.peach.darker {
    background-color: #D9ABAC;
}

// Sunset
.sunset {
    background-color: #ff7575;
}

.sunset:hover {
    background-color: lighten(#ff7575, 10%);
}

.sunset.darker {
    background-color: darken(#ff7575, 10%);
}

// Dark Red
.dark-red {
    background-color: #bb3354;
}

.dark-red:hover {
    background-color: lighten(#bb3354, 10%);
}

.dark-red.darker {
    background-color: darken(#bb3354, 10%);
}

// Sofia Pink
.sofia-pink {
    background-color: #ff158a;
}

.sofia-pink.lighter {
    background-color: lighten(#ff158a, 10%);
}

.sofia-pink.darker {
    background-color: darken(#ff158a, 10%);
}

// Lipstick
.lipstick {
    background-color: #ff5ac4;
}

.lipstick.lighter {
    background-color: lighten(#ff5ac4, 10%);
}

.lipstick.darker {
    background-color: darken(#ff5ac4, 10%);
}

// Bubble
.bubble {
    background-color: #faa1f1;
}

.bubble.lighter {
    background-color: #F9BBF4;
}

.bubble.darker {
    background-color: #D6A4D2;
}

// Dark Purple
.dark-purple {
    background-color: #784bd1;
}

.dark-purple.lighter {
    background-color: lighten(#784bd1, 10%);
}

.dark-purple.darker {
    background-color: darken(#784bd1, 10%);
}

// Berry
.berry {
    background-color: #7e3b8a;
}

.berry.lighter {
    background-color: #a273ac;
}

.berry.darker {
    background-color: #916B98;
}

// Indigo
.indigo {
    background-color: #5559df;
}

.indigo.lighter {
    background-color: #8588E7;
}

.indigo.darker {
    background-color: #7A7CC8;
}

// Navy
.navy {
    background-color: #225091;
}

.navy.lighter {
    background-color: #6282B0;
}

.navy.darker {
    background-color: #5D779C;
}

// Bright Blue
.bright-blue {
    background-color: #579bfc;
}

.bright-blue.lighter {
    background-color: lighten(#579bfc, 10%);
}

.bright-blue.darker {
    background-color: darken(#579bfc, 10%);
}

// Dark Blue
.dark-blue {
    background-color: #0086c0;
    transition: 0.5s ease;
}

.task:hover .dark-blue,
.dark-blue:hover {
    background-color: lighten(#0086c0, 10%);
}

.dark-blue::before {
    border-bottom: 10px solid darken(#0086c0, 5%);
}

// Aquamarine
.aquamarine {
    background-color: #4eccc6;
}

.aquamarine.lighter {
    background-color: #81D9D6;
}

.aquamarine.darker {
    background-color: #75BCBA;
}

// Chili Blue
.chili-blue {
    background-color: #66ccff;
}

.chili-blue.lighter {
    background-color: lighten(#66ccff, 10%);
}

.chili-blue.darker {
    background-color: darken(#66ccff, 10%);
}

// River
.river {
    background-color: #68a1bd;
}

.river.lighter {
    background-color: #93BBCF;
}

.river.darker {
    background-color: #84A4B5;
}

// Winter
.winter {
    background-color: #9aadbd;
}

.winter.lighter {
    background-color: #B6C3CF;
}

.winter.darker {
    background-color: #A0ABB5;
}

// American Gray
.american-gray {
    background-color: #808080;
}

.american-gray.lighter {
    background-color: lighten(#808080, 10%);
}

.american-gray.darker {
    background-color: darken(#808080, 10%);
}

// Blackish
.blackish {
    background-color: #333333;
}

.blackish.lighter {
    background-color: lighten(#333333, 10%);
}

.blackish.darker {
    background-color: darken(#333333, 10%);
}

// Brown
.brown {
    background-color: #7f5347;
}

.brown.lighter {
    background-color: lighten(#7f5347, 10%);
}

.brown.darker {
    background-color: darken(#7f5347, 10%);
}

// Orchid
.orchid {
    background-color: #d974b0;
}

.orchid.lighter {
    background-color: #E29BC6;
}

.orchid.darker {
    background-color: #C48BAE;
}

// Tan
.tan {
    background-color: #ad967a;
}

.tan.lighter {
    background-color: #C3B3A0;
}

.tan.darker {
    background-color: #AB9E90;
}

// Sky
.sky {
    background-color: #a1e3f6;
}

.sky.lighter {
    background-color: #BBE9F7;
}

.sky.darker {
    background-color: #A4C9D5;
}

// Coffee
.coffee {
    background-color: #bd816e;
}

.coffee.lighter {
    background-color: #CEA498;
}

.coffee.darker {
    background-color: #B49289;
}

// Royal
.royal {
    background-color: #2b76e5;
}

.royal.lighter {
    background-color: #689DEB;
}

.royal.darker {
    background-color: #628CCB;
}

// Teal
.teal {
    background-color: #175a63;
}

.teal.lighter {
    background-color: #5A8990;
}

.teal.darker {
    background-color: #577C82;
}

// Lavender
.lavender {
    background-color: #bda8f9;
}

.lavender.lighter {
    background-color: #CEC0F9;
}

.lavender.darker {
    background-color: #B4A8D6;
}

// Steel
.steel {
    background-color: #a9bee8;
}

.steel.lighter {
    background-color: #C0CFED;
}

.steel.darker {
    background-color: #A8B4CD;
}

// Liliac
.liliac {
    background-color: #9d99b9;
}

.liliac.lighter {
    background-color: #B8B5CC;
}

.liliac.darker {
    background-color: #A29FB3;
}

// Pecan
.pecan {
    background-color: #563e3e;
}

.pecan.lighter {
    background-color: #867576;
}

.pecan.darker {
    background-color: #7A6D6E;
}

// Purple
.purple {
    background-color: #A25DDC;
}

.purple.lighter {
    background-color: #BB8BE5;
}

.purple.darker {
    background-color: #A57EC6;
}

// Dark Indigo
.dark-indigo {
    background-color: #401694;
}

.dark-indigo.lighter {
    background-color: #7759B3;
}

.dark-indigo.darker {
    background-color: #6E579E;
}

// Purple
.pecan {
    background-color: #563e3e;
}

.pecan.lighter {
    background-color: lighten(#563e3e, 10%);
}

.pecan.darker {
    background-color: darken(#563e3e, 10%);
}

// Dark Indigo
.dark-indigo {
    background-color: #563e3e;
}

.dark-indigo.lighter {
    background-color: lighten(#563e3e, 10%);
}

.dark-indigo.darker {
    background-color: darken(#563e3e, 10%);
}
