.main-layout {
    display: grid;
    column-gap: rem(10px);
    grid-template-areas:
        "header header"
        "sidebar board";
    grid-template-columns: $sidebar-width 1fr;
    grid-template-rows: 48px auto;
    height: 100vh;
    overflow: hidden;
}
.home-layout {
    display: grid;
    grid-template-columns: minmax(32px, 1fr) minmax(auto, 1440px) minmax(32px, 1fr);
    grid-template-rows: 72px auto;
    *:not(.full) {
        grid-column: 2;
    }

    *.full {
        grid-column: 1 / -1;
    }
}
#app {
    height: 100vh;
}
