.main-layout {
    display: grid;
    gap: rem(10px);
    grid-template-areas: 
    "header header"
    "sidebar board";
    grid-template-columns: $sidebar-width 1fr;
    height: 100vh;
    overflow: hidden;
}

#app {
    height: 100vh;

    >main {
        // height: 100%;
    }
}