@media (min-width:300px) {

    //homepage
    .home-layout {
        grid-template-columns: 5px minmax(auto, 1440px) 5px;
        grid-template-rows: 72px auto;
    }

    .home-header {
        padding: 0;
    }

    .home-page {
        .welcome {
            overflow: hidden;

            img {
                width: 130vh;
            }

            h1 {
                font-size: 32px;
            }
        }

        .customers {
            h2 {
                font-size: 16px;
            }

            .customer-image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 75px;

                // img {
                //     transform: scale(.7);
                // }
            }
        }

    }

    //boardIndex
    .main-layout {
        column-gap: 0;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "board";

        .main-header {
            display: none;
        }
    }

    .board-header {
        padding: 0;
        padding-inline: 6px;

        .board .board-title {
            font-size: 20px;
        }

        .board-desc {
            display: none;
        }

        .board-header-actions {
            flex-direction: column;

            div {
                width: 100%;
                justify-content: space-between;
            }
        }

    }

    .board-container {
        .board-nav {
            margin: 0;
            left: 6px;
            padding: 6px 0 0 0;
            top: 86px;
        }
    }

    .sidebar {
        display: none;
    }

    //group

    .group-gap {
        width: 6px;
        left: -7px;
    }

    .group-list {
        .group-title-container {
            top: 161px;
            transform: translate(-74px);
        }

        .arrow-down {
            display: none;
        }
    }

    //minimized group
    .minimized-group {
        .group-header {
            left: 6px;
        }
        .group-color-accent{
            left: 0px;
        }
        .preview{
            left: 6px;
        }
    }

    .minimized-group-side-div {
        width: 0px;
        left: 0px;
    }

    //kanban
    .kanban-container {
        flex-direction: column;
        padding-inline-start: 6px;
        padding: 0;

        .kanban-column {
            width: 100vw;
            min-width: 90vw;
            flex: 1;

            .column {
                width: 100%;
            }
        }

        .kanban-task {
            width: 93vw;
        }
    }

    //tasks
    .task {
        grid-template-columns: 184px repeat(8, 150px);

        .title {
            font-size: 13px;
        }
    }

    .task-column {
        left: 6px;
        grid-template-columns: 0px 144px 40px;
        max-width: 184px;

        .checkbox {
            display: none;
        }

        .title {
            padding-inline-start: 6px;
            white-space: normal;
        }

        &.first {
            grid-template-columns: 0px ($task-title-width + $task-conversation-btn-width);
        }
    }

    .task-title {
        margin-inline-start: 20px;
    }

    .label-line {
        grid-template-columns: 184px repeat(8, 150px);
        top: 201px;
        border-inline-end: 1px solid $border-clr;

        .task-title {
            justify-content: start;
            margin-inline-start: 6px;
            max-width: 178px;
        }
    }

    //progress bar
    .progress {
        .progress-margin {
            left: 0px;
            width: 183px;
        }

        .progress-border {
            left: 189px;
        }
    }

    //components
    .first-checkbox {
        display: none;
    }

    //board filter
    .board-filter-container {
        margin-inline-start: 6px;
        margin-block-start: 6px;
        left: 6px;
        height: min-content;
        top: 129px;
        border-radius: 0;

        .new-task-button {
            display: none;
        }

        .span-common {
            font-size: 0px;
        }
    }

    //modals
    .drawer-modal {
        width: 100%;
        height: calc(100vh - 49px);
    }

    .board-info {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .invite-area {
        .invite-modal {
            // margin-inline: 6px;
            width: 95vw;
            height: 50%;
            // left: 6px;
            top: 75vh;
        }
    }
}

@media(min-width:850px) {

    //homepage
    .home-layout {
        display: grid;
        grid-template-columns: minmax(32px, 1fr) minmax(auto, 1440px) minmax(32px, 1fr);
        grid-template-rows: 72px auto;
    }

    .home-header {
        padding-inline: 32px;
    }

    .home-page {
        .welcome {
            overflow: visible;

            img {
                width: 100%;
            }

            h1 {
                font-size: 64px;
            }
        }

        .customers {
            h2 {
                font-size: 21px;
            }
        }
    }

    //board index
    .main-layout {
        column-gap: rem(10px);
        grid-template-rows: 48px auto;
        grid-template-areas:
            "header header"
            "sidebar board";

        .main-header {
            display: initial;
        }
    }

    .board-header {
        padding-left: 38px;
        padding-right: 30px;
        padding-top: 16px;

        .board-title {
            font-size: em(24px, 14px);
        }

        .board-desc {
            display: inline;
        }

        .board-header-actions {
            flex-direction: row;

            // justify-content: space-between;
            div {
                width: fit-content;
                justify-content: initial;
                align-items: center;
            }
        }
    }

    .board-container {
        .board-nav {
            margin-inline-start: 38px;
            padding-block-start: 34px;
            padding-inline-end: 30px;
            left: 38px;
            top: 68px;
        }
    }

    .sidebar {
        display: block;
    }

    //group

    .group-gap {
        width: 40px;
        left: 0px;
    }

    .group-list {
        .group-title-container {
            top: 190px;
            transform: translate(-6px);
        }

        .arrow-down {
            display: initial;
        }
    }

    //minimized group
    .minimized-group {
        .group-header {
            left: 55px;
        }
        .group-color-accent{
            left: 39px;
        }
        .preview{
            left: 45px;
        }
    }
    
    .minimized-group-side-div {
        width: 39px;
        left: 0px;
    }

    //kanban
    .kanban-container {
        flex-direction: row;
        padding-inline-start: 38px;
        padding-inline-start: 38px;
        padding-top: 8px;

        .kanban-column {
            flex: auto;
            border-radius: 8px;
            width: 260px;
            min-width: 260px;
        }

        .kanban-task {
            width: 240px;
        }
    }

    //tasks
    .task {
        grid-template-columns: calc($row-height + $task-title-width + $task-conversation-btn-width) repeat(8, 150px);

        .title {
            font-size: 14px;
        }
    }

    .task-column {
        left: 46px;
        grid-template-columns: 0px $row-height $task-title-width $task-conversation-btn-width;
        max-width: none;

        .checkbox {
            display: flex;
        }

        .title {
            padding-inline-start: 34px;
            white-space: nowrap;
        }

        &.first {
            grid-template-columns: 0px $row-height (
                $task-title-width + $task-conversation-btn-width
            );
    }
}

.task-title {
    margin-inline-start: 0;
}

.label-line {
    grid-template-columns: calc($row-height + $task-title-width + $task-conversation-btn-width) repeat(8, 150px);
    top: 230px;
    border-inline-end: none;

    .task-title {
        max-width: none;
        justify-content: center;
    }
}

//progress bar
.progress {
    .progress-margin {
        left: 40px;
        width: 400px;
    }

    .progress-border {
        left: 446px;
    }
}

//components
.first-checkbox {
    display: block;
}

//board filter
.board-filter-container {
    left: 38px;
    margin-left: 2.72rem;
    height: 51px;
    top: 139px;
    margin-block-start: 0;

    .span-common {
        display: flex;
        font-size: initial;
    }

    .new-task-button {
        display: flex;
    }
}

//modals

.drawer-modal {
    width: 750px;
    height: calc(100vh - 49px);
}

.board-info {
    top: calc(50vh - ($board-info-modal-height / 2));
    left: calc(50vw - ($board-info-modal-width /2));
    width: $board-info-modal-width;
    height: $board-info-modal-height;
}

.invite-area {
    .invite-modal {
        margin-inline: 0;
        width: 530px;
        height: 500px;
        top: 50vh;
    }
}
}