@font-face {
    font-family: poppins;
    src: url(@/assets/fonts/poppins/poppins-regular.ttf);
}
@font-face {
    font-family: poppins-bold;
    src: url(@/assets/fonts/poppins/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: figtree;
    src: url(@/assets/fonts/figtree/figtree-regular.ttf);
}