// COLOR PALETTE
:root {
    /* text */
    --primary-text-color: #323338;
    --secondary-text-color: #676879;
  
    /* buttons */
    --secondary-btn-hover-color: #dcdfec;
    --primary-btn-color: #0073ea;
    --primary-btn-hover-color: #0060b9;
  
    /* status */
    --status-done: #00c875;
    --status-done-hover: #48d59b;
    --status-stuck: #e2445c;
    --status-stuck-hover: #db738c;
    --status-working: #fdab3d;
    --status-working-hover: #eebc76;
    --status-not-started: #c4c4c4;
    --status-not-started-hover: #d2d2d3;
  
    /* priority */
    --priority-low-: #579bfc;
    --priority-low-hover: #85b6fa;
    --priority-critical-: #333333;
    --priority-critical-hover: #6c6c6d;
    --priority-medium: #5559df;
    --priority-medium-hover: #8487e6;
  
    /* tasks */
    --task-active: #cbe4ff;
    --task-hover: #f5f6f8;
    
    /* general */
    --row-height: 36px;
    --btn-height: 32px;
  
    /* color picker */
    --cp-grass-green: #037f4c;
    --cp-grass-green-hover: #35986f;
    --cp-done-green: #00c875;
    --cp-done-green-hover: #0f9b63;
    --cp-bright-green: #9cd326;
    --cp-bright-green-hover: #7ca32b;
    --cp-saladish: #cab641;
    --cp-saladish-hover: #9d8f3e;
    --cp-egg-yolk: #ffcb00;
    --cp-egg-yolk-hover: #c29e11;
    --cp-dark-purple: #784bd1;
    --cp-dark-purple-hover: #6344a3;
    --cp-purple: #a25ddc;
    --cp-purple-hover: #8050ab;
    --cp-dark-blue: #0086c0;
    --cp-dark-blue-hover: #0f6d97;
    --cp-bright-blue: #579bfc;
    --cp-bright-blue-hover: #4c7cc1;
    --cp-chili-blue: #66ccff;
    --cp-chili-blue-hover: #569ec3;
    --cp-dark-red: #bb3354;
    --cp-dark-red-hover: #92334c;
    --cp-stuck-red: #e2445c;
    --cp-stuck-red-hover: #ad3f51;
    --cp-sofia_pink: #ff158a;
    --cp-sofia_pink-hover: #c21e71;
    --cp-lipstick: #ff5ac4;
    --cp-lipstick-hover: #c24e9a;
    --cp-dark-orange: #ff642e;
    --cp-dark-orange-hover: #c25531;
    --cp-working_orange: #fdab3d;
    --cp-working_orange-hover: #c0873c;
    --cp-brown: #7f5347;
    --cp-brown-hover: #684943;
    --cp-explosive: #c4c4c4;
    --cp-explosive-hover: #98999a;
    --cp-american_gray: #808080;
    --cp-american_gray-hover: #69696a;
  }

